* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    margin-left: 40px;
}

.property {
    font-weight: bold;
}

.properties, .source {
    list-style-type: none;
}

.source li {
    display: inline;
}